html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

#main-content {
    flex: 1;
}

.footer {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgb(63, 81, 181);
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}



md-progress-linear .md-container {
    height: 10px;
}

md-progress-linear .md-container .md-bar {
    height: 10px;
}

#score-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.score {
    font-size: large;
    font-weight: bold;
    min-width: 60px;
}

.score-normal {
    background-color: #2eb5e4 !important;
}

.score-highlight {
    background-color: #ffb23e !important;
}

.score-caret {
    color: orange;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.message-container {
    max-width: 800px;
}

.generatedTitle {
    color: orange;
}