body {
    min-height: 100vh;
    background-color: white;
}

.footer {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgb(63, 81, 181);
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}

#main-content {
    margin-bottom: 50px;
}

#score-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.score {
    font-size: large;
    font-weight: bold;
    min-width: 60px;
}

.score-normal {
    background-color: #2eb5e4 !important;
}

.score-highlight {
    background-color: #ffb23e !important;
}

.score-caret {
    color: orange;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.generatedTitle {
    color: orange;
}

h3 {
    margin-bottom: 5px;
}

#share-link-container {
    padding-bottom: 2px;
}