@()

@header = {

}

@footer = {
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/GeneratorCtrl.js")'></script>
}

@main(header, footer) {

    <div layout="column" layout-align="center center" ng-controller="GeneratorCtrl">
        <div flex>
            <h1>Questions pour un Générateur</h1>
        </div>

        <div flex>
            <md-button class="md-raised md-primary" ng-click="generate()">Générer</md-button>
        </div>

        <div flex ng-show="variant.length > 0">
            <md-progress-linear md-mode="determinate" value="{{progress}}" ng-click="jump($event)"></md-progress-linear>
            <md-button aria-label=="play/pause" ng-click="togglePause()"><i class="fa" ng-class="{'fa-play' : !play, 'fa-pause': play}"></i></md-button>
            <md-button aria-label=="stop" ng-click="stop()"><i class="fa fa-stop"></i></md-button>

            <div ng-repeat="elem in variant" ng-bind-html="preparePlayer($index)">
                <audio id="player{{$index}}" controls>
                    <source ng-src="{{elem.src}}" type="audio/mpeg">
                </audio>
            </div>

        </div>



    </div>


}
