@(header : Html, footer: Html)(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="JLApp">
    <head>
        <title>Questions pour un Générateur</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        @header

    </head>
    <body flex layout="column" layout-align="start center">

        <div flex="1" id="main-content">
            @content
        </div>

        <div flex>

        </div>

        <div class="footer">
            <footer layout-gt-sm="row">
                <div flex-gt-sm="80">

                    <p>
                        Pour toute question, vous pouvez nous contacter via <a href="mailto:contact@@variability.io">contact@@opencompare.org</a>
                    </p>

                </div>

                <div flex ng-controller="BonusCtrl">
                    <md-button class="md-fab md-primary" aria-label="tpmp - cancun" ng-click="tpmp()">TPMP</md-button>
                    <audio id="playerTPMP">
                        <source src="bonus/tpmp" type="audio/mpeg">
                    </audio>
                    <md-button class="md-fab md-primary" aria-label="la mer noire" ng-click="merNoire()">Mer</md-button>
                    <audio id="playerMer">
                        <source src="bonus/mer" type="audio/mpeg">
                    </audio>

                </div>
            </footer>
        </div>



        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-aria.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-clipboard.js"))'></script>

        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/jlApp.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/BonusCtrl.js")'></script>

        @footer


            <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//piwik-opencompare.rhcloud.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 2]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//piwik-opencompare.rhcloud.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->

    </body>
</html>
